/* INDEX STYLES-------------------------------------------------- */



/*================
NAVBAR STARTS
================*/
.opaque-navbar {
  background-color: rgba(254,55,14,0);
}

.opaque-navbar.opaque {
  background-color: #293E6A;
  height: 80px;
  transition: background-color .5s ease 0s;
}

@media(max-width:467px) {
  .opaque-navbar {
    width: 100%;
  }

  .nav-icon {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
}
/*================
NAVBAR ENDS
================*/

.tagline2 ul {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0;
}

.tagline2 ul li {
  float: left;
  display: inline-block;
  margin: 0 44px 0 0;
}

.tagline2 ul li:last-child {margin: 0;}

.tagline2  ul li a {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.5px;
}


.block_overlay {
  background: #f1f8f5;
}

.banner_rc {
  position: relative;
}

.jumbotron_image_rc {
  background-color: #ffffff; /*#11284A;*/
  background-image: url("/images/homepage_jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron_image_partner_rc {
  background-color: #ffffff; /*#11284A;*/
  background-image: url("/images/index_partners.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
Marketing STARTS
 */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/*====================
Zipcode Input STARTS
 ====================*/

.zipcode {display:inline-block;}

.zipcode_input_block {
  display:inline-block;
  width: 100%;
}

.input_zipcode {
  width: 85%;
  padding:10px;
  height:70px;
  line-height:34px;
  background:#ffffff;
  outline: none;
  border: none;
  font-family: 'Polly-Regular', 'ProximaNova-Regular', sans-serif;
  font-weight: normal;
  font-size:24px;
  color: #e25714;
  float: left;
  display: inline-block;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}

.input_zipcode::-webkit-input-placeholder {
  opacity: 1;
  transition: inherit;
  font-size: 17px;
  color: rgba(226, 87, 20,.8);
}

.zipcode_btn {
  display:inline-block;
  height: 70px;
  width: 15%;
  text-align:center;
  border:none;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
  background-color: #e67e22;
  float: right;
}

.btn-primary-rc {
  border-style: solid;
  background-color: rgba(0,0,0,0);
  border-color: #e67e22;
  color: #e67e22;
}

.fa-arrow-right {
  color: #ffffff;
  vertical-align: middle;
}
.zipcode_btn:hover, .fa-arrow-right:hover {
  color: #fff;
  background-color: #e67e22;
  border-color: #e67e22;
  cursor: pointer;
}

/*====================
Zipcode Input ENDS
 ====================*/



