

@media (max-width: 1366px) and (min-width: 768px) {
    /*h1 {font-size: 1.75rem;}
    h2 {font-size: 1.25rem;}
    h3 {}
    h4 {}
    h5 {font-size: 1rem;}*/

    .opaque-navbar.opaque {
        background-color: #293E6A;
        height: 85px;
        transition: background-color .5s ease 0s;
    }

    .rc_navbar-brand a img {
        width: 360px;
    }

    /*.col-md-5,.col-md-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .push-md-5 {left: 0%}

    .pull-md-7 {right: 0%}*/
}


@media screen and (min-width: 880px) {
    .jumbotron_image_rc .overlay {
        padding-top: 100px
    }

    .rc_col-md-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

    .rc_col-md-5 {
        position: relative;
        width: inherit;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

}

@media (max-width: 767px) and (min-width: 467px) {
    h2 {font-size: 1.75rem;}
    h3 {font-size: 1.1rem;}
    p,h5 {font-size: 1rem;}

    .rc_col-md-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

    .rc_col-md-5 {
        position: relative;
        width: inherit;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

    .input_zipcode {
        width: 80%;
        padding:10px;
        height:100px;
        line-height:34px;
        background:#ffffff;
        outline: none;
        border: none;
        font-family: 'Polly-Regular', 'ProximaNova-Regular', sans-serif;
        font-weight: normal;
        font-size:36px;
        color: #e25714;
        float: left;
        display: inline-block;
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem;
    }

    .input_zipcode::-webkit-input-placeholder {
        opacity: 1;
        transition: inherit;
        font-size: 32px;
        color: rgba(226, 87, 20,.8);
    }

    .zipcode_btn {
        display:inline-block;
        height: 100px;
        width: 20%;
        text-align:center;
        border:none;
        border-top-right-radius: .2rem;
        border-bottom-right-radius: .2rem;
    }


    .btn-primary-rc {
        border-style: solid;
        background-color: rgba(0,0,0,0);
        border-color: #e67e22;
        color: #e67e22;
    }

    .zipcode_btn:hover, .fa-arrow-right:hover {
        color: #e67e22;
        background-color: #ffffff;
        border-color: #ffffff;
        cursor: pointer;
    }
}

@media screen and (min-width: 600px) {
    /*NAVBAR STARTS*/
    .opaque-navbar.opaque {height: inherit;}
    .opaque-navbar {height: inherit;}
    /*NAVBAR ENDS*/

    /*Homepage STARTS*/
    .jumbotron_image_rc {max-height: 580px;}

    .form-group {
        margin-bottom: 1rem
    }

    .row {
        margin-left: 0;
        width: 100%;
    }
    .zipcode {
        display:inline-block;
        padding: 275px 0 0 0;
        width: 100%;
    }
    .zipcode_btn_in {
        widows: inherit;
        height: inherit;
        background-color: rgba(0,0,0,0);
        border: none;
    }

    .input_zipcode::-webkit-input-placeholder {
        opacity: 1;
        transition: inherit;
        font-size: 18px;
        color: rgba(226, 87, 20,.8);
    }

    .fa-2x {font-size:2.75em;}
    .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .container_in {padding: 50px 0 0 0;}

    .jumbotron + .jumbotron_image_rc + .container
    + .container_in + h1 {font-size: 2.25rem;}

    .rc_col-md-7 {
        position: relative;
        /*width: 100%;*/
        height: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

    .rc_col-md-5 {
        position: relative;
        height: inherit;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

    .img-responsive,
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /*h1 {font-size: 2rem;}
    h2 {font-size: 1.25rem;}
    h3 {font-size: 1.1rem;}
    h5 {font-size: .8rem;}*/

    .col-lg-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }


    .marketing .col-lg-4 p {
        margin: 0;
        font-size: 1rem;
    }
    .marketing .col-lg-4 img  {display: inline-block; vertical-align: bottom;}


}

@media(max-width:467px) {
    /*Homepage*/
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.5rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.2rem;}
    h5 {font-size: 1rem;}
    p {font-size: 1.3rem;}
    label {font-size: .8rem;}
    input:not(:placeholder-shown) + label,
    input:focus + label {
        transform: translate(0, 0) scale(1);
        cursor: pointer;
        color: DARKORANGE;
        font-size: 16px;
    }

    .tagline2  ul li a {
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        letter-spacing: 0.5px;
    }

    .jumbotron {padding: 5rem 1rem 2rem 1rem;}

    .form-group {
        margin-bottom: 1rem;

    }

    .row {
        margin-left: 0;
        width: 100%;
    }

    /*Homepage*/
    .jumbotron_image_rc {
        min-height: 480px
    }
    .container {width: 100%;}
    .container_in {
        padding: 50px 0 0 0;
        height: 390px;
        }

    .zipcode {
        width: 100%;
        padding: 225px 0 0 0;
    }

    .zipcode_input_block {width: 100%;}

    .input_zipcode {
        width: 85%;
        height: 50px;
        padding:10px;
        line-height:34px;
        background:#ffffff;
        outline: none;
        border: none;
        font-weight: normal;
        font-size:24px;
    }

    .input_zipcode::-webkit-input-placeholder {
        opacity: 1;
        transition: inherit;
        font-size: 18px;
        color: rgba(226, 87, 20,.8);
    }

    .zipcode_btn {
        display:inline-block;
        height: 50px;
        width: 15%;
        text-align:center;
        border:none;
        border-top-right-radius: .2rem;
        border-bottom-right-radius: .2rem;
    }

    .zipcode_btn_in {
        height: 100%;
        width: 100%;
        text-align:center;
        background-color: inherit;
        border:none;
    }

    .btn-primary-rc {
        border-style: solid;
        background-color: rgba(0,0,0,0);
        border-color: #e67e22;
        color: #e67e22;
    }

    .zipcode_btn:hover, .fa-arrow-right:hover {
        color: #e67e22;
        background-color: #ffffff;
        border-color: #ffffff;
        cursor: pointer;
    }

    /*Card Block*/
    .col ul li {
        width:48%;
        padding: 5px;
    }
    .col ul li a span {width:100%}

    .col ul li a span img {
        padding:0;
        margin:0 auto;
        display:block;
    }

    .col ul li a span input {
        width: inherit;
        height: inherit;
    }

    .col ul li a small {font-size:16px;}

    /*Switch Setting Question STARTS*/
    .container_in_form {
        width: 100%;
        padding: 0;
    }

    .switch-settings h3 {font-size:16px;}
    .switch-settings .row {display: inline-block;}
    .switch-settings .question
    ,.switch-settings .switch {display: inline-block;}

    input.cmn-toggle-round + label {
        padding: 1px;
        width: 90px;
        height: 50px;
        background-color: #dddddd;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        text-align: center;
    }
    input.cmn-toggle-round + label:after { /*toggle size*/
        width: 45px;
        height: 45px;
        top: 2px;
        left: 2px;
        right: 2px;
    }
    input.cmn-toggle-round + label:before {
        content: "NO";
        font-size: 18px;
        padding: 10px 0 0 45px;
    }
    input.cmn-toggle-round:checked + label:before {
        content: "YES";
        font-size: 18px;
        padding: 10px 42px 0 0;
    }
    input.cmn-toggle-round:checked + label:after {
        margin-left: 41px; /*slider movement length*/
    }
}

@media screen and (min-width: 1000px) {
    .jumbotron_image_rc {
        min-height: 600px
    }
    .zipcode {
        display:inline-block;
        padding: 275px 0 0 0;
        width: 50%;
    }

    /*.form-horizontal {
        margin-left: 0;
        width: 45%;
    }*/

}
@media(max-width:320px) {
    /*Homepage*/
    h1 {font-size: 1.25rem;}
    h2 {font-size: 1.5rem;}
    h3 {font-size: 1.3rem;}
    h4 {font-size: 1.2rem;}
    h5 {font-size: 1rem;}
}